@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fs-xxl: 84px;
    --fs-xl: 42px;
    --fs-l: 30px;
    --fs-m: 20px;
    --fs-s: 14px;

    --fw-bold: 900;
    --fw-semibold: 700;
    --fw-normal: 500;
    --fw-light: 400;

    --color-primary: #000;
    --color-link: #1DA1F2;
    --color-border: #E4EAED;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

input[type=text], input[type=password], select {
    @apply rounded-md w-full px-3 pb-3 pt-5 border-2 border-gray-300 text-lg bg-transparent 
}

input.error {
     @apply outline outline-2 outline-red-500
}

label {
    @apply top-1/2 text-gray-400 text-lg font-normal peer-[:not(:placeholder-shown)]:text-xs peer-focus:top-3 peer-focus:text-xs peer-[:not(:placeholder-shown)]:top-3  absolute px-1 left-2 -translate-y-1/2 transition-[top]
}

button {
    @apply rounded-3xl w-full bg-blue-500 py-2 text-white font-bold text-lg cursor-pointer hover:bg-blue-600
}

button.secondary {
    @apply bg-gray-400;
}

button.outlined {
    @apply bg-transparent text-black border-2 border-gray-100;
}